body {
    padding-top: 5rem;
    background-color: rgb(226, 243, 243);
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

#profileContainer {
    width: 650px;
}

#profileForm {
    background-color: white;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border-top: 5px solid blue;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.form-group {
    width: 400px;
}

#profileSubmit{
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(64, 248, 64);
    background-color: rgb(64, 248, 64);
    width: 150px;
}

#profileImage {
    height: 150px;
    width: 150px;
}

.icon {
    height: 15px;
    width: 15px;
}

#profiles {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}

.profile {
    background-color: white;
    display: flex;
    border-radius: 10px;
    border-top: 5px solid blue;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
}

#profilesContainer {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profiles {
    width: 700px;
}

.profile {
    display: grid;
    grid-template-columns: 150px 300px 150px;
    grid-gap: 25px;
}

#profile2{
    display: flex;
    align-items: center;
} 

#profile3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey {
    color: grey;
    font-weight: bold;
}

.bold {
    font-weight: bolder;
}

#profileDetailsContainer {
    width: 600px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-top: 5px solid blue;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 40px;
}

#profilePhoto {
    height: 200px;
    width: 200px;
    margin-right: 50px;
    margin-bottom: 30px;
}

#aboutme {
    width: max-content;
}

.text {
    color: grey;
    width: 500px;
}

#profileDetails {
    display: grid;
    grid-template-rows: auto auto auto;
}

#profileDetails1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendmessage, #follow {
    color: white;
    font-weight: bold;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

#follow {
    background-color: rgb(57, 117, 206);
    border-color: rgb(57, 117, 206);
}

#sendmessage {
    background-color: rgb(79, 230, 79);
    border-color: rgb(79, 230, 79);
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}