{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<div id="profileDetailsContainer">
    <div id="profileDetails">
        <div id="profileDetails1">
            <div>
                <img id = "profilePhoto" src=" {{ url_for('static', filename=profile.profile_picture) }}" alt="Profile Photo for {{ profile.first_name + " " + profile.last_name }}">
            </div>
            <div>
                <h3 class="bold">{{ profile.first_name + " " + profile.last_name }}</h3>
                <p class="grey"> <img class = "icon" src="../static/email.png" alt="Email Icon"> {{ profile.email }}</p>
                <p class="grey"> <img class = "icon" src="../static/location.png" alt="Location Icon"> {{ profile.location }}</p>
                <p class="grey"> <img class = "icon" src="../static/date.png" alt="Date Icon"> Joined on {{ profile.date_joined }}</p>
            </div>
        </div>
        <div id="aboutme">
            <h4 class="grey">About Me</h4>
            <p class="text">{{ profile.biography }}</p>
        </div>
        <div id="buttons">
            <button id="sendmessage">Send Message</button> <button id="follow">Follow</button>
        </div>
    </div>
</div>


{% endblock %}