{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<div id="profilesContainer">
    <div id="profiles">
        <h1 class="page-header bold">Profiles</h1>
        {% for profile in profiles %}
            <div class="profile">
                <div id="profile1">
                    <img id = "profileImage" src=" {{ url_for('static', filename=profile[7]) }}" alt="Profile Photo for {{ profile[1] + " " + profile[2] }}">
                </div>
                <div id="profile2">
                    <div>
                        <h4 class="bold">{{ profile[1] + " " + profile[2] }}</h4>
                        <p class="grey"> <img class = "icon" src="./static/gender.png" alt="Gender Icon"> {{ profile[3] }}</p>
                        <p class="grey"> <img class = "icon" src="./static/location.png" alt="Location Icon"> {{ profile[5] }}</p>
                    </div>
                </div>
                <div id="profile3">
                    <form action="{{ url_for('loadprofile', userid=profile[0]) }}" method="get">
                        <input type="submit" value="View Profile" id="profileSubmit">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}